:root {
    --square-size: 120px;
    --sign-size: calc(var(--square-size) * 0.9)
}
body {
    margin: 0;
    background-color: #faf7ff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    flex: 1;
    justify-items: center;
    align-items: center;
}
.square {
    border: 1px solid #6900ff;
    width: var(--square-size);
    height: var(--square-size);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
}
.square:nth-child(3n+1) {
    border-left: none;
}
.square:nth-child(3n+3) {
    border-right: none;
}
.square:nth-child(7),
.square:nth-child(8),
.square:last-child {
    border-bottom: none;
}
.result {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.display {
    display: flex;
}
/* cross marker styles */

.cross::before,
.cross::after {
    background-color: #ffd700;
}
.gameBoard.crossTurn .square:not(.cross):not(.circle):hover::before,
.gameBoard.crossTurn .square:not(.cross):not(.circle):hover::after {
    background-color: #fcf0ac;
}
.cross::before,
.cross::after,
.gameBoard.crossTurn .square:not(.cross):not(.circle):hover::before,
.gameBoard.crossTurn .square:not(.cross):not(.circle):hover::after {
    height: var(--sign-size);
    width: calc(var(--sign-size) * 0.15);
    content: '';
    position: absolute;
}
.cross::before,
.gameBoard.crossTurn .square:not(.cross):not(.circle):hover::before {
    transform: rotate(-45deg);
}
.cross::after,
.gameBoard.crossTurn .square:not(.cross):not(.circle):hover::after {
    transform: rotate(45deg);
}

/* circle marker styles */
.circle::before {
    background-color: #9951ff;
}
.gameBoard.circleTurn .square:not(.cross):not(.circle):hover::before {
    background-color: #d1b0ff;
}
.circle::before,
.circle::after,
.gameBoard.circleTurn .square:not(.cross):not(.circle):hover::before,
.gameBoard.circleTurn .square:not(.cross):not(.circle):hover::after {
    border-radius: 50%;
    content: '';
    position: absolute;
}
.circle::before,
.gameBoard.circleTurn .square:not(.cross):not(.circle):hover::before {
    height: var(--sign-size);
    width: var(--sign-size);
}
.circle::after,
.gameBoard.circleTurn .square:not(.cross):not(.circle):hover::after {
    background-color: #faf7ff;;
    height: calc(var(--sign-size) * 0.7);
    width: calc(var(--sign-size) * 0.7);
}

.cross, .circle {
    cursor: not-allowed;
}

.message {
    color: #faf7ff;
    font-size: 48px;
    letter-spacing: 3px;
}
.restartButton {
    width: 135px;
    height: 45px;
    font-size: 22px;
    font-weight: 600;
    line-height: 45px;
    background: linear-gradient(90deg, rgba(255,215,0,1) 0%, rgba(153,81,255,1) 100%);
    border: none;
    border-radius: 5px;
    color: #faf7ff;
    padding: 0;
}

/* FOOTER SECTION STYLES */
footer {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 18px;
    width: 18px;
    margin-left: 5px;
    margin-top: 5px;
}
footer > * {
    margin: 0;
}