:root {
    --square-size: 120px;
    --sign-size: calc(var(--square-size) * 0.9);

    --cross-primary-color: #ffd700;
    --cross-secondary-color: #fcf0ac;
    --circle-primary-color: #9951ff;
    --circle-secondary-color: #d1b0ff;
    --primary-color: #faf7ff;
    --secondary-color: #6900ff;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.turns {
    height: 20%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid;
}
.header {
    font-size: 42px;
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: 3px;
}
.turns > div {
    display: flex;
    gap: 30px;
}
.first, 
.second {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 8px;
    color: var(--primary-color);
    font-size: 18px;
    text-align: center;
}
.first.active,
.second.active {
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.4);
    font-weight: bold;
}
.first.active {
    background: var(--cross-primary-color);
}
.second.active {
    background: var(--circle-primary-color);
}
.first {
    background-color: var(--cross-secondary-color);
}
.second {
    background-color: var(--circle-secondary-color);
}

/* GAMEBOARD SECTION STYLES */

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    flex: 1;
    justify-items: center;
    align-items: center;
    background-color: var(--primary-color);
}
.square {
    border: 1px solid var(--secondary-color);
    width: var(--square-size);
    height: var(--square-size);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
}
.square:nth-child(3n+1) {
    border-left: none;
}
.square:nth-child(3n+3) {
    border-right: none;
}
.square:nth-child(7),
.square:nth-child(8),
.square:last-child {
    border-bottom: none;
}

/* CROSS MARKER STYLES */

.cross::before,
.cross::after {
    background-color: var(--cross-primary-color);
}
.gameBoard.crossTurn .square:not(.cross):not(.circle):hover::before,
.gameBoard.crossTurn .square:not(.cross):not(.circle):hover::after {
    background-color: var(--cross-secondary-color);
}
.cross::before,
.cross::after,
.gameBoard.crossTurn .square:not(.cross):not(.circle):hover::before,
.gameBoard.crossTurn .square:not(.cross):not(.circle):hover::after {
    height: var(--sign-size);
    width: calc(var(--sign-size) * 0.15);
    content: '';
    position: absolute;
}
.cross::before,
.gameBoard.crossTurn .square:not(.cross):not(.circle):hover::before {
    transform: rotate(-45deg);
}
.cross::after,
.gameBoard.crossTurn .square:not(.cross):not(.circle):hover::after {
    transform: rotate(45deg);
}

/* CIRCLE MARKER STYLES */

.circle::before {
    background-color: var(--circle-primary-color);
}
.gameBoard.circleTurn .square:not(.cross):not(.circle):hover::before {
    background-color: var(--circle-secondary-color);
}
.circle::before,
.circle::after,
.gameBoard.circleTurn .square:not(.cross):not(.circle):hover::before,
.gameBoard.circleTurn .square:not(.cross):not(.circle):hover::after {
    border-radius: 50%;
    content: '';
    position: absolute;
}
.circle::before,
.gameBoard.circleTurn .square:not(.cross):not(.circle):hover::before {
    height: var(--sign-size);
    width: var(--sign-size);
}
.circle::after,
.gameBoard.circleTurn .square:not(.cross):not(.circle):hover::after {
    background-color: var(--primary-color);
    height: calc(var(--sign-size) * 0.7);
    width: calc(var(--sign-size) * 0.7);
}
.cross, .circle {
    cursor: not-allowed;
}

/* RESULT SECTION STYLES */

.result {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.6);
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.display {
    display: flex;
}
.message {
    color: #faf7ff;
    font-size: 48px;
    letter-spacing: 3px;
    margin-left: 10px;
}
.restartButton {
    width: 135px;
    height: 45px;
    font-size: 22px;
    font-weight: 600;
    line-height: 45px;
    background: linear-gradient(90deg, rgba(255,215,0,1) 0%, rgba(153,81,255,1) 100%);
    border: none;
    border-radius: 5px;
    color: #faf7ff;
    padding: 0;
}

/* FOOTER SECTION STYLES */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 18px;
    margin-left: 5px;
    margin-top: 5px;
}
footer > * {
    margin: 0;
}